@model IPagedList<CBRapi.Models.Valute>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

<link rel="stylesheet" href="~/css/PagedList.css" />

@{
    ViewData["Title"] = "Курс валют";
}

<h1>Курс валют</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.NumCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.CharCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Nominal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetEnumerator().Current.Previous)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CharCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nominal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Previous)
                </td>
                <td>
                    @Html.ActionLink("Детали", "Currency", new { controller = "cbr", action = "Currencies", id = item.CharCode })
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Currencies", new { page }))
